/* Color Palette - #FCC595, #49403E, #AAC9C3, #2A7A8f */

h1 {
    color: #2A7A8f;
    text-align: right;
    margin-right: 10%;
}

.banner {
    width: 100%;
    height: 50vh;
    background: url("/images/skyline.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }